@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Cedarville+Cursive&family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*::placeholder {
  all: unset;
}
